/* GENERAL SETUP  */
*{
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

/* HEADER  */
header{
    background-color: white;
    position: sticky;
    top: 0px;
    left: 0px;

    height: 60px;
    width: 100%;

    margin-bottom: 3em;

    box-shadow: 0px 2px 8px #888888;
}
header img{
    /* Positioning  */
    vertical-align: middle;
    height: 70%;
    margin-left: 15px;
}
h1{
    /* Positioning  */
    vertical-align: middle;
    display: inline-block;
    font-size: 3em;
    font-weight: 900;

    /* Size  */
    margin: 0px 5px;
}

/* MAIN  */
main{
    background-color: white;
    border-radius: 10px;

    width: 65%;

    margin: 20px auto;
    padding: 15px 0px 2em;
}
hr{
   border: 1px solid rgba(128, 128, 128, 0.151);
}
.narrowBox{
    padding: 0px 12%;
}

/* NAV  */
.navButton{
    background-color: transparent;

    height: 2em;
    border: 1px solid gray;
    border-radius: 5px; 
    margin: 0px 1px;
    padding: 0px 0.6em;

    color: gray;
    font-size: small;
    font-weight: 500;
}
#buttonAddTask, .navButton:hover{
    background-color: #47adf1;
    color: white;
    border: 0px;
}


/* SECTIONS */
/* Section Name  */
.section{
    margin-top: 2.2em;
}
.section > h3{
    display: inline-block;

    margin: 0px;
    padding: 1px 10px 0px 3px;
    border-radius: 10px;

    color: rgb(58, 57, 57);
    font-weight: bold;
}
.section > h3:before{
    content: ' \25BE\0020';
}
.section > h3:hover{
    background-color: #5259839c;
    color: white;
}

/* Task Name */
.task{
    margin: 10px 2% 1em;
}
.task:before{
    display: inline-block;
    width: 15px;

    border: 1px solid;
    border-radius: 50%;
    margin-right: 5px;

    font-size: 10px;
    text-align: center;

    color: red;
    content: "\2717";
}
.checked.task:before{
    color: green;
    content: "\2713";
}